[Desktop Entry]
Type=Application
Version=1.0
Name=Zotero
Comment=Zotero is a free tool to help you manage your research sources
Exec=zotero
Icon=zotero
Terminal=false
Categories=Education;Office;
StartupNotify=true
